<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">rlo labs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/tax-calculator">Tax Calculator</a>
          <a class="dropdown-item" href="/convert-case">Convert Case</a>
          <a class="dropdown-item" href="/lipsum">Lipsum</a>
          <a class="dropdown-item" href="/expense-tracker">Expense Tracker</a>
          <a class="dropdown-item" href="/weather">Weather</a>
          <a class="dropdown-item" href="/maps">Maps</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
