<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="container">
      <h1>Callbacks</h1>
    </div>
    <%- include('includes/js.ejs'); %>
    <script type="text/javascript" src='/js/promises.js'></script>
  </body>
</html>
