<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="jumbotron">
      <h1 class="display-4">Convert Case</h1>
      <p class="lead">A nifty text editing tool for freelance designers.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
              <label for="textArea">
                Step 1: Enter your text</br>
                Step 2: Choose the case you want
              </label>
              <textarea class="form-control" id="textArea" rows="8"
                placeholder = "Type or paste your content here..."></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-secondary case-btn" id="sentence-btn">
              Sentence
            </button>
            <button type="button" class="btn btn-secondary case-btn" id="lower-btn">
              lower
            </button>
            <button type="button" class="btn btn-secondary case-btn" id="upper-btn">
              UPPER
            </button>
            <button type="button" class="btn btn-secondary case-btn" id="title-btn">
              Title
            </button>
            <button type="button" class="btn btn-primary" id="copy-btn" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" value="copy" data-clipboard-target="#textArea" data-clipboard-action="copy">
              Copy
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/js.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script type="text/javascript" src='/js/convert-case.js'></script>
  </body>
</html>
