<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="container mt-5">
      <div class="row">
        <h1>Expense Tracker<h1>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Vendor</th>
              <th scope="col">Amount (in USD)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2 Doner Kebab sandwiches</td>
              <td>Can Bey Doner Kebab</td>
              <td>$9.08</td>
            </tr>
            <tr>
              <td>Uber to remember restaurant</td>
              <td>Uber</td>
              <td>$2.45</td>
            </tr>
            <tr>
              <!-- <th scope="row">3</th> -->
              <td>Trdlnik</td>
              <td>Food Stall</td>
              <td>$4.54</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-success float-right">Add Expense</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCDt4GDmJ7PBUh7AIhRdnD-kD5tleAzciQ",
        authDomain: "expense-tracker-a3686.firebaseapp.com",
        databaseURL: "https://expense-tracker-a3686.firebaseio.com",
        projectId: "expense-tracker-a3686",
        storageBucket: "expense-tracker-a3686.appspot.com",
        messagingSenderId: "487206506379"
      };
      firebase.initializeApp(config);

      let transactionId = 0;
      let db = firebase.database();
      db.ref('transactions/' + transactionId).set({
          descripiton: '2 Doner Kebab sandwiches',
          vendor: 'Can Bey Doner Kebab',
          amount : '$9.08',
      });

    </script>
    <%- include('includes/js.ejs'); %>
  </body>
</html>
