<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a collection of my experiments with new software technologies.</p>
    </div>
    <%- include('includes/js.ejs'); %>
  </body>
</html>
