<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Hello Lipsum!</h1>
        </div>
      </div>

      <div class="row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
            <p class="card-text">Lorem ipsum dolor sit amet</p>
            <button class="btn btn-primary copy-btn" data-clipboard-text="Lorem ipsum dolor sit amet" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">Copy</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">Consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
            <button class="btn btn-primary copy-btn" data-clipboard-text="Consectetur adipiscing elit sed do eiusmod tempor incididunt" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">Copy</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Sentence</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn btn-primary copy-btn" data-clipboard-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-toggle="tooltip" data-placement="top" title="Copy to clipboard">Copy</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Paragraph</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button class="btn btn-primary copy-btn" data-clipboard-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-toggle="tooltip" data-placement="top" title="Copy to clipboard">Copy</button>
          </div>
        </div>
      </div>


    </div>
    <%- include('includes/js.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script type="text/javascript" src='/js/lipsum.js'></script>
  </body>
</html>
