<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="container mt-5">
      <div class="row">
        <h1>Maps</h1>
      </div>
    </div>
    <%- include('includes/js.ejs'); %>
  </body>
</html>
