<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="jumbotron">
      <h1 class="display-4">Project 1</h1>
      <p class="lead">This is Project 1</p>
    </div>

    <%- include('includes/js.ejs'); %>
  </body>
</html>
