<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="jumbotron">
      <h1 class="display-4">Tax Calculator</h1>
      <p id="lead" class="lead">Curious to see how much you owe in taxes this year?</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-8 col-md-3">
          <form id="taxable-income-form">
            <label for="inputTaxableIncome">Taxable Income</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" id="salary-amount" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-3 col-md-3"></div>
        <div class="col-12 col-md-6">
          <h4>Your tax year 2017 tax rate</h4>
          <p>Tax: <b><span id="tax"></span></b></p>
          <p>Tax as % of Income: <b><span id="taxAsPercentOfIncome"></span></b></p>
          <p>Tax Bracket: <b><span id="taxBracketPercentage"></span></b></p>
        </div>
      </div>
    </div>
    <%- include('includes/js.ejs'); %>
    <script type="text/javascript" src='/js/tax-calculator.js'></script>
  </body>
</html>
