<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="jumbotron">
      <h1 class="display-4">Tax Calculator</h1>
      <p class="lead">Curious to see how much you owe in taxes this year?</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <form>
            <label for="inputTaxableIncome">Taxable Income</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-3"></div>
        <div class="col-6">
          <h3>Your tax year 2017 tax rate</h3>
          <p>Tax: <b>$20,981.75</b></p>
          <p>Tax as % of Income: <b>20.98%</b></p>
          <p>Tax Bracket: <b>28%</b></p>
        </div>
      </div>
    </div>
    <%- include('includes/js.ejs'); %>
  </body>
</html>
