<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="jumbotron">
      <h1 class="display-4">Tax Calculator</h1>
      <p class="lead">Curious to see how much you owe in taxes this year?</p>
    </div>

    <%- include('includes/js.ejs'); %>
  </body>
</html>
