<%- include('includes/head.ejs'); %>
  <body>
    <%- include('includes/nav.ejs'); %>
    <div class="container mt-5">
      <div class="row">
        <div class="alert alert-warning alert-dismissible fade mx-auto" id="no-results-alert" style="width: 600px;" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Sorry, we didn't find any restaurants near you.
        </div>
      </div>
      <div class="row">
        <h1>Vegan Eats</h1>
      </div>
      <div class="row">
        <p>Find vegan restaurants within walking distance.</p>
      </div>
      <div class="row">
        <form id="restaurantsForm" class="mt-3">
          <div class="form-group">
            <input type="hidden" name="ll" class="form-control" placeholder="Enter lat, long" id="ll">
          </div>
          <button type="submit" class="btn btn-primary">Show me the food!</button>
        </form>
      </div>
      <div class="row mt-3">
        <ol class="restaurants-list">
        </ol>
      </div>
    </div>
    <%- include('includes/js.ejs'); %>
    <script type="text/javascript" src="/js/vegan-eats.js"></script>
  </body>
</html>
